<%= flash[:message] %>
<h2> Reading List </h2>
  <%= form_tag('/books', method: :get) do %>
    <div class="form-group">
      <%= label_tag(:title, "Search Books and Authors:") %>
      <%= text_field_tag(:title, nil, class: "form-control") %><br><br>
        <div class="actions">
        <%= submit_tag("Search") %>
        </div>
<%end%>
<br><br>
<div>
<% @books.each do |book| %>
  <strong><%= link_to book.title, book_path(book) %></strong><small><i> by </i></small><%= book.author %><br>
<% end %>
</div> 
<br><br><strong><%= link_to 'Add a Book', '/books/new' %></strong>



