<h1> <%= @book.title %> <small> by <%= @book.author %></small> </h1>
<h2><i><small> added by: <%= @book.user.name %> </small> </i></h2><br>
<% @book.genres.each do |genre| %>
    <i><%= genre.name %> // </i>
<% end %><br><br>

<div>
<%= @book.description %>
</div>
<strong><br><%= link_to 'Edit', edit_book_path(@book) %> | 
<%= link_to 'Delete', @book, method: :delete, data: {confirm: "Delete this book?"} %></strong>
