<h1> <%= @book.title %> <small> by <%= @book.author %></small> </h1>
<h2><i><small> added by: <%= @book.user.name %> </small> </i></h2><br>
<% @book.genres.each do |genre| %>
    <i><%= link_to genre.name, genre_path(genre) %> // </i>
<% end %><br><br>

<div>

<%= @book.description %>

</div>

<br><br><strong><%= link_to 'Add Another Book', '/books/new' %> | 
<%= link_to "Discuss This Book", new_book_comment_path(@book) %> | 
<%= link_to 'Edit', edit_book_path(@book) %> | 
<%= link_to 'Delete', @book, method: :delete, data: {confirm: "Delete this book?"} %></strong>

<div>

<br><br><strong> Comments: </strong><br>
<% @book.comments.each do |comment| %>
 <br>"<%= comment.content %>"<i><small> by </small><%= comment.user.name %></i>
 <br><small><%= link_to 'Edit', edit_book_comment_path(@book, comment) %></small>
 <small><%= link_to "Delete", comment, method: :delete, data: {:confirm => 'Delete this comment?'} %></small><br><br>
<% end %>
