<h1> <%= @book.title %> </h1>
<h2> <%= @book.author %> <i><small> added by: <%= @book.user.name %> </small> </i></h2>
<div>
<h3> <%= @book.description %>
</div>
<%= link_to 'Edit', '/book/:id/edit' %>
